/Male Height Histogram.png
/Male Weight Histogram.png
/Normalized e values - Female.png
/Normalized e values - Male.png
/PHW#1_202135739_KIM_AJIN.docx
/Scaling Histograms for Height - Female Data.png
/Scaling Histograms for Height - Male Data.png
/Scaling Histograms for Weight - Female Data.png
/Scaling Histograms for Weight - Male Data.png
/~$W#1_202135739_KIM_AJIN.docx